/* Stylesheet used by all netsa tools pages. A local copy of this
   file should reside in every directory with content. */

body {
	text-align: left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #999999;
	margin: 1em;
	min-width: 651px;
}

<!-- IE font size hack -->
body {
	font-size: x-small;
	voice-family: "\"}\"",inherit;
	font-size: small;
}
html>body { font-size: small; }

/* General styles */

.bigtext {
       font-size: 175%;
       font-weight: bold;
       text-decoration: none;
       margin-bottom: 0.20em;
}

a.biglink {
       font-size: 175%;
       font-weight: bold;
       text-decoration: none;
      
}

/* "You are here" styles */
.navinfo {
	font-size: 85%;
	padding: 0.25em;
	background-color:#666666;
	color: #ffffff;
	vertical-align: middle;
}
.navinfo a { color: #fff; }
.navinfo a:link { color: #ffffff;}
.navinfo a:visited { color: #ffffff;}
.navinfo a:hover { color: #ffff00; }
.navinfo a:active { color: #ffffff; }
.navinfo a:focus { color: #ffffff;}

.section-header a { color: #fff; text-decoration: none; }
.section-header a:link { color: #ffffff; text-decoration: none; }
.section-header a:visited { color: #fff; text-decoration: none; }
.section-header a:hover { color: #ff0; text-decoration: none; }
.section-header a:active { color: #ffffff; text-decoration: none; }
.section-header a:focus { color: #ffffff; text-decoration: none; }

.header-menu { color: #cce;  }
.header-menu a { color: #cce; text-decoration: none; }
.header-menu a:link { color: #cce; text-decoration: none; }
.header-menu a:visited { color: #cce; text-decoration: none; }
.header-menu a:hover { color: #ff0; text-decoration: none; }
.header-menu a:active { color: #cce; text-decoration: none; }
.header-menu a:focus { color: #cce; text-decoration: none; }



.page-footer a { color: #555555; }
.page-footer a:link { color: #555555;}
.page-footer a:visited { color: #555555;}
.page-footer a:hover { color: #555555; }
.page-footer a:active { color: #555555; }
.page-footer a:focus { color: #555555;}

.header-menu {
	text-align: center;
/*	padding: 0.5em;  */
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	background-color: #225;
/*
	border-style: solid;
	border-width: 1px;
	border-color: #cce;
*/
/*	width: 100%; */
}

.header-menu a {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.tool-header h2 {
        font-size: 150%;
}

.tool-header {
/*	margin-right: 10px;  */
	margin-bottom: 0px;
	padding-top: 1em;
	padding-left: 3em;
	padding-right: 3em; 
	padding-bottom: 1em;
	border-style: solid;
	border-width: thin;
	border-color: #333;
        background-color: #A7BFE5;
}

.page-content {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 1em;
	border-style: solid;
	border-width: thin;
	border-color: #333;
	background-color: white;
}

.page-body {
	padding-top: 1em;
	display: block;
	clear:left;
}

.section-header {
}

.site-title {
	font-size: 125%;
	font-color: white;
}
.site-logo {
	margin: 0;
	padding:0;
	}

.subsection-title {
	font-size: 100%;
	font-color: #aaa;
	font-style: italic;
/*	padding: 0.25em; */
        padding-bottom: 0.25em;
/*	padding-bottom: 1em; */
	
}

.section-title {
	font-size: 140%;
}

.page-header {
	background-color:#000066;
	border-style: none;
	color: #ffffff;
	padding: 0;
	margin: 0;
}

/* Main header styles */
.page-header .section-title {
	font-size: 150%;
	color: #fff;
	/* padding: 0.25em; */
	text-align: center;
	vertical-align: center;
} 

.page-header a { color: #ffffff; }

/* Used for laying out multi-column content */

table.columns td {
	vertical-align: top;
	padding-right: 2em;
}
		
h1 {
    font-family: "arial", "verdana", "sans-serif"; font-size: 160%;
	font-weight: normal;
    border-bottom-style: none;
    border-bottom-width: 2px;
    border-bottom-color: #ccccc;
	color:#333;
    }
	
h2 {
	font-family: "arial", "verdana", "sans-serif";
	font-size: 150%;
	font-weight: normal;
	border-bottom-style: solid	;
	border-bottom-width: 1px;
	border-bottom-color: #ccc;
	margin-bottom: 3px;
	color:#000066;
	color: #333;
        color: #004; 
	}
	
h3 {
        color: #004; 
	font-size: 110%;
	margin-bottom: 3px;
}
h4 { font-size: 100%; }
h5 { font-size: 90%; }
h6 { font-size: 90%; }

/* Embedded examples: code, configuration files, command line, etc */

/* Another example of a conflict with doxygen style; unify all this eventually */

/*
code {
	font-family: "Courier New", Courier, mono;
	font-size: 140%;
}

.code {
	background-color: #eee;
	border-style: dashed;
	border-width: 1px;
	padding: 0.5em;
	font-family: "Courier New", Courier, mono;
}
*/

pre.example {
	background-color: #eee;
	border-style: dashed;
	border-width: 1px;
	padding: 0.5em;
	font-family: "Courier New", Courier, mono;
	font-size: 120%;
}

/* Application name, function name, etc referenced in inline text */
.keyword {
	font-family: "Courier New", Courier, mono;
}


/* Navigation bar on the left */
div.navpanel-block {
	position: absolute;
	left: 0.5em;
	top: 4.5em; /* FIXME: this won't work in general */
	float: left;
}
.navpanel-block ul {
	margin-top: 1em;
	font-size:95%;
	background-color:#000;
	color: #fff;
	margin-left: 0em;
	padding: 0.25em;	
	list-style-type: none;
	border-style: solid;
	border-width: 1px;
	border-color:#000;
	padding-left: 0.5em;
}

.navpanel-block > ul > li { 
	padding-bottom: 0.5em; 
	margin-left: -0.2em;
}

.navpanel-block ul a { color: #fff;}
.navpanel-block ul a:hover { color: #ff0; }
.navpanel-block ul ul ul a { color: #000; }
.navpanel-block ul ul a:hover { color: #ff0; }

.navpanel-block ul ul  {
	color: #fff;
	background-color:#006;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-left-style: none;
	border-right-style: none;
}

.navpanel-block ul ul ul  {
	font-size: 90%;
	color: #222;
	background-color:#eef;
	font-weight: normal;
	margin: 0;
	padding: 3px; 
	border-style: solid;
	border-left-style: none;
	border-right-style: none;
	}



/* Information summaries at the tops of pages */

div.info-block {
	float: left;
}




div.page-overview {
	margin-left: 25em;
	float: none;
}

ul.info {
	font-size: 75%;
	background-color:#ddf;
	margin-top:1.25em;
	margin-left: -0em;
	width: 30em;
	margin-bottom: 0;
	padding: 0.50em;	
	list-style-type: none;
	border-style: solid;
	border-width: 1px;
}
ul.info li {
	padding: 0.25em;
}
ul.info span.label {
	font-weight: bold;
}


/* Task tables for work plans */
table.tasks {
	font-size: 75%;
	margin-top: 0;
/*	margin-left: -2.75em;
	margin-right: -2.75em;	*/
	width: 100%;
	padding: 0;
	border: thin solid #009;
	background-color: #009;
}
table.tasks td { margin: 0; padding: 0.25em; }
table.tasks tr.r1 { background-color:#9CF; margin: 0; border-style: none; }
table.tasks tr.r2 { background-color:#FFF; margin: 0; border-style: none}
table.tasks td.task-workplan { font-weight: bold; border-style: none; min-width: 8em;}
table.tasks td.task { font-weight: bold; border-style: none; width: 50%;;}
table.tasks td.milestone { font-weight: bold; border-style: none; width: 50%;;}
table.tasks td.date { font-weight: bold; border-style: none; min-width:8em;}
table.tasks .heading { color: white; background-color: #009; font-weight: bold; font-size: 110%; }


/* Page Footer */
.page-footer { font-size: 100%; padding: 1em; text-align: center }
.page-footer .copyright { text-align: center; color: #555555; font-size: 95%}

table.mini-menu {
	background-color:#000000; 
	width: 100%;
	clear: left;
	margin-bottom: 0;
}

td.mini-menuitem {
	/* background-color: #A0A0F0;
	background-color: #ffffff; */
	color: #FFFFFF;
	font-size: 85%;
	text-align: center;
	min-width: 4em;

}

td.tab-divider {
	/* background-color:#fff; */
	width: 0.2em;
}


td.nav-tree {
	#background-color: #A0A0F0;
}

div.nav-tree div { 
	margin-left: 8px; 
	margin-right: 8px;  
	font-size: 100%; 
	margin-top: 8px; 
	white-space: nowrap;
}

div.nav-tree div div  {
	margin-left: 8px;
	#font-size: 85%;
	margin-top: 1px;
	white-space: nowrap;
}

div.mini-menuitem {
	font-size: 85%;
	color: #ffffff;
}



span.mini-menuitem {
	font-size: 85%;
	color: #ffffff;
}

.abstract-title a { color: #ffffff; }
.abstract-title a:link { color: #ffffff;}
.abstract-title a:visited { color: #ffffff;}
.abstract-title a:hover { color: #FFFF00; }
.abstract-title a:active { color: #ffffff; }
.abstract-title a:focus { color: #ffffff;}		

/* Hack - override doxygen's background color change on hover for all links */
A:hover { background-color: transparent }

div.abstract {
	background-color: #E0E0F0;
	margin-left: 2em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	margin-right: 4em;
	}
	
.abstract-content {
	padding: 0.5em;
	border-color: #009;
	border-style: solid;
	border-width: thin;
	font-size: 85%;
}

.abstract-title {
	font-size: 85%;
	padding-bottom: 0.5em;
}

.abstract-detail {
	font-weight: bold;
}


div.abstract h3 {
	margin-bottom: 4px; font-size: 90%;
}

	
table.inline-table {
	margin-left: 20px;
}	


/* SiLK Styles */

.downloadVersion {
   font-size: 120%;
   font-weight: bold;
}

.downloadDate {
   font-size: 110%;
   font-weight: bold;
}

.downloadLink {
   font-size: 110%;
   font-weight: bold;
}

.downloadHashes {
   font-size: 90%;
   padding-top: 6pt;
}

table.downloads TD {
   vertical-align: top;
   text-align: left;
   padding-right: 0.5em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   padding-left: 0;
}

TD.downloadEntry {
   text-align: left;
   vertical-align: top;
}

table.commands TD { 
    vertical-align: top;
    padding: 0;
}

table.commands TD P { 
   padding: 5px;
   margin: 0; /* 5pt;*/
}

TD.cmdname {
    width: 9em;
}

table.tool-index td {
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}


/* Styles for rounded boxes */

/* set background images for corners */
.rb { background-color: #009 }
.rbtop div  { background: url(corners_left.gif) no-repeat top left; }
.rbtop      { background: url(corners_right.gif) no-repeat top right; }
.rbbot div  { background: url(corners_left.gif) no-repeat bottom left; }
.rbbot      { background: url(corners_right.gif) no-repeat bottom right; }

 /* height and width details */
.rbtop div, .rbtop, .rbbot div, .rbbot { width: 100%; height: 12px; font-size: 1px; }
.rbcontent  { margin: 0 14px; color: white}
.rb { width: 100%; margin: auto; padding-bottom: 14px;}

/* Little boxes for abstracts - the same for now */

/* set background images for corners */
.lrb { background-color:#00f }
.lrbtop div  { background: url(corners_left_sm.gif) no-repeat top left; }
.lrbtop      { background: url(corners_right_sm.gif) no-repeat top right; }
.lrbbot div  { background: url(corners_left_sm.gif) no-repeat bottom left; }
.lrbbot      { background: url(corners_right_sm.gif) no-repeat bottom right; }

 /* height and width details */
.lrbtop div, .lrbtop, .lrbbot div, .lrbbot { width: 100%; height:4px; font-size: 1px; }
.lrbcontent  { margin: 0 8px; color: white}
.lrb { width: 100%; margin: auto; padding-bottom: 10em; }
