[submodule "bindings/broccoli-python"]
	path = bindings/broccoli-python
	url = git://git.bro-ids.org/broccoli-python
[submodule "bindings/broccoli-ruby"]
	path = bindings/broccoli-ruby
	url = git://git.bro-ids.org/broccoli-ruby
[submodule "cmake"]
	path = cmake
	url = git://git.bro-ids.org/cmake
